body {

}

nav {

}

section img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
}

.grow {
  transition: all .2s ease-in-out;
 }

.grow:hover {
  transform: scale(1.1);
}

footer {
  height: 3em;
  text-align: left;
}

footer a {
  display: flex;
  justify-content: flex-end;
}

footer p {
  display: flex;
  justify-content: flex-start;
}
